.DeleteModal {
  position: absolute;
  top: 300px;
  bottom: 230px;
  left: 500px;
  right: 500px;
  height: 233px;
  width: 600px;

  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  background: white;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}


.DeleteConfirmedModal {
  position: absolute;
  top: 300px;
  bottom: 230px;
  left: 500px;
  right: 500px;
  height: 233px;
  width: 600px;

  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  background: white;
}
